Docker-n8n/innov-alert-workflow.json
{
  "name": "Innov-Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "087e0eae-aa9d-4c6c-9c0e-e43fac86d501",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, username, email, created_at \nFROM users \nWHERE created_at >= DATE_SUB(NOW(), INTERVAL 24 HOUR)\nORDER BY created_at DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        208,
        0
      ],
      "id": "b7f926ce-5186-45b9-b83e-444ab01899e7",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "oVLlJeZ18srb8PWz",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatage de l'alerte de sécurité\nconst users = $input.all();\nlet message = `🚨 ALERTE SÉCURITÉ - Nouveaux utilisateurs détectés\\n\\n`;\nmessage += `Nombre de nouveaux comptes : ${users.length}\\n\\n`;\n\nusers.forEach((user, index) => {\n  message += `${index + 1}. ${user.json.username}\\n`;\n  message += `   📧 Email: ${user.json.email}\\n`;\n  message += `   🕐 Créé le: ${user.json.created_at}\\n\\n`;\n});\n\nreturn [{ json: { alert_message: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -96
      ],
      "id": "8a229ba8-e8d9-445f-85dd-a57fe9df65df",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "173caf18-a724-430b-aa09-09c49aa8a119",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "4978c023-aec6-4fa1-a6a2-1796b8d431af",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        96
      ],
      "id": "1d05201b-0517-4243-aee1-58429aba7613",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "slack_webhook_url",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.alert_message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        -176
      ],
      "id": "60b4f83f-6f5c-45a3-a54a-919bd9d05c08",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.alert_message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        848,
        0
      ],
      "id": "07ad4123-93c0-41df-b2d9-28003f1f6fb0",
      "name": "Discord",
      "webhookId": "36c7dc9a-f4d2-44cf-ae33-522d69d79022",
      "credentials": {
        "discordWebhookApi": {
          "id": "54SfL6waLAIEUBrD",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4af72f9b-d694-41a9-b552-8e6d9e4203d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17ff01f0f523feae5e6c707786e44223d2cf349af9310e2820e8942f928f522b"
  },
  "id": "ne0CJgZ2FFsPppZ7",
  "tags": []
}
